<section>
    <div id="skills" class="container-fluid">
        <div class="container">
            <h2 id="skills-title" class="h2 text-center">Skills</h2>
            <div 
                [ngClass]="dataTheme === false? 'skills-card-dark': 'skills-card-light'"
                class="row mb-5 pt-t pb-5 d-flex justify-content-center"
                *ngFor="let row of skill"
                >
                <div class="">
                    <div class="container">
                        <h3 class="skill-title">{{row.nombre}}</h3>
                        <div class="progress">
                            <div 
                                class="progress-bar" 
                                role="progressbar" 
                                [style.width.%]="row.nivel" 
                                attr.aria-valuenow="{{row.nivel}}" 
                                aria-valuemin="0" 
                                aria-valuemax="100"
                                >
                            </div>
                        </div>
                        

                        
                        <!-- Boton para editar el contenido-->
                        <div class="container-fluid">
                            <div class="text-center">
                                <button
                                [ngClass]="dataTheme=== false? 'btn-icon-dark': 'btn-icon-light'" 
                                id="edit" 
                                type="button" 
                                class="btn"
                                data-bs-toggle="modal" 
                                data-bs-target="#exampleModalSkillEdit"
                                (click)="findSkill(row.id)"
                                *ngIf="isLogged" 
                                >
                                <fa-icon [icon]="faPencil"></fa-icon>
                                </button>

                                <!-- Boton para eliminar el contenido-->
                                <button 
                                    [ngClass]="dataTheme === false? 'btn-icon-dark': 'btn-icon-light'"
                                    id="delete" 
                                    type="button"
                                    class="btn"
                                    (click)="deleteSkill(row.id)"
                                    *ngIf="isLogged">
                                    
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                </button>
                            </div>
                            
                        </div>

                        <!-- Modal para cargar Skill -->
                        <div class="modal fade" id="exampleModalSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Skill Info
                                        </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Formulario-->
                                        <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                                            <div class="mb-3">
                                                <label for="nombre" class="form-typo form-label">¿Que Skill deseas agregar?</label>
                                                <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="nombre" required>
                                                <br>
                                                <label for="nivel" class="form-typo form-label">¿En que nivel de esta Skill consideras que te encontras?</label>
                                                <input type="number" id="nivel" name="nivel"  class="form-control" min="1" max="100" [(ngModel)]="nivel" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button class="btn btn-primary">
                                                    Actualizar
                                                </button>
                                            </div>
                                        </form>
                                    ...
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <!-- Modal para editar Skill -->
                        <div *ngIf="isLogged" class="modal fade" id="exampleModalSkillEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" *ngIf="skillToUpdate">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Skill Info
                                        </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Formulario-->
                                        <form #f="ngForm" (ngSubmit)="onUpdate(skillToUpdate.id)" novalidate>
                                            <div class="mb-3">
                                                <label for="nombre" class="form-typo form-label">¿Que Skill deseas agregar?</label>
                                                <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="skillToUpdate.nombre" required>
                                                <br>
                                                <label for="nivel" class="form-typo form-label">¿En que nivel de esta Skill consideras que te encontras?</label>
                                                <input type="number" id="nivel" name="nivel"  class="form-control" min="1" max="100" [(ngModel)]="skillToUpdate.nivel" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button type="submit" class="btn btn-primary"data-bs-dismiss="modal">
                                                    Actualizar
                                                </button>
                                            </div>
                                        </form>
                                    ...
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
       
    </div>
    
    

    <!--Boton para agregar skill-->
    <div class="container d-flex justify-content-center">
        <button 
            [ngClass]="dataTheme === false? 'btn-icon-darkAdd': 'btn-icon-lightAdd'"
            class="btn-add-new mx-auto"
            data-bs-toggle="modal" data-bs-target="#exampleModalSkill"
            *ngIf="isLogged"
            >
            Añadir nueva skill
        </button>
    </div>      
    
</section>